.footer {
  position: fixed;
  width: 100%;
  background: white;
  bottom: 0px;
  left: 0;
  box-shadow: 0px 0 10px rgb(184 175 175 / 80%);
}
.footer1 {
  float: left;
}
.footer2 {
  margin-left: 10rem;
}

.footer3 {
  float: right;
}
