.footer {
  border-top:1px solid grey;
  /* position: absolute; */
  bottom: 0px;
  margin:0;
  padding:0
}
.footer1 {
    float:left;
}
.footer2 {
  margin-left: 10rem;
}

.footer3 {
  float: right;
}

.themed-container
{
}