.profile {
  width: 90%;
  margin: auto;
  flex-direction: row;
}
.profilepictable {
  width: 90%;
}
.queuetablepart3h4 {
  color: aqua;
  font-weight: 600;
  font-size: 2.5rem;
  border: 1px aqua solid;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  text-align: left;
}

.queuetablepart2h6 {
  text-align: left;
  /* background-color: red; */
}
.queuetablepart3 {
  position: relative;
}
.colorred {
  background-color: red;
}
.colorblue {
  background-color: blue;
}

.rectanglebackground {
  margin-bottom: 10px;
}

/* animation */

.remove-btn {
  margin-right: 0.5rem;
}

.item-enter {
  opacity: 0;
  transform: scale(0.8);
}
.item-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 200ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: all 500ms ease-in;
}
