.queuenumbercontainer {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 0;
  margin: 0;
  width: 90%;
  height: 140px;
  margin: auto;
  background-image: url(wave.png), url(rectangle.png);
  background-repeat: no-repeat;
  background-size: 100vw 70px, 100vw 230px;
  background-position: bottom, top;
}
.texts {
  flex-direction: column;
  margin: 0;
}
.textcenter {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}
.flexcolumn {
  flex-direction: column;
}
.queuenumberman {
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  // background-color: blue;
}
.row {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  margin: auto;
}
.fontstyle1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: -0.3px;
  color: #595959;
}
.fontstyle1small {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: #595959;
  // padding-bottom:30px ;
}
.rectanglebackground {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: #f2fbff;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: 100vw 75px;
  background-position: top;
  border-radius: 5px;
}
.rectanglebackground2 {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: #f2fbff;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: 100vw 95px;
  background-position: top;
  border-radius: 5px;
  margin-right: 10px;
}
.rectanglebackground2_1 {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background: #f2fbff;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: 100vw 95px;
  background-position: top;
  border-radius: 5px;
  margin-left: 10px;
}
// .circleposition
// {
//   // padding:10px;
//   border-radius: 100%;
//   padding-left:24px;
//   padding-right:24px;
//   padding-top:16px;
//   padding-bottom: 16px;
//   margin-right:200px;
//   background-color: red;
//   position:absolute;
//   z-index:1000;
// }
// .circlepositiondiv
// {
//   position:relative;
//   background-color: aqua;
// }
